footer.footer {
  background: white;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
