<div layout="column"
     hotkey="{right: vm.reselect, space: vm.reselect}">

 <section layout="row" flex>
  <md-toolbar md-scroll-shrink>
    <md-whiteframe class="md-whiteframe-z3">
      <div class="md-toolbar-tools">
        <ng-md-icon ng-click="vm.toggle()" icon="{{vm.issueListIcon}}" ng-attr-style="fill: {{vm.issueListFill}}" size="24" options='{"rotation": "none"}'></ng-md-icon>
        <expanding-search search-text="searchText"></expanding-search>
        <span flex></span>
        <md-button class="md-fab md-primary md-fab-right" ng-click="vm.newIssue()">
          <md-tooltip>New Issue</md-tooltip>
          <i class="fa fa-plus">
          </i>
        </md-button>
      </div>
    </md-whiteframe>
  </md-toolbar>
  </section>

  <section layout="row" flex>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="issues-nav" md-is-locked-open="vm.sidenavOpen" style="width:400px;">
      <md-toolbar class="md-theme-indigo">
        <filter-select class="filter-select-sidenav"
          select-model="vm.filterOption"
          filter-opts="vm.filterSelectOpts">
        </filter-select>
        <!-- <h1 class="md-toolbar-tools">Sidenav Left</h1> -->
      </md-toolbar>
      <md-content class="md-padding" style="height:600px;">
          <!-- <pre>{{ vm.issues | json }}</pre> -->
          <md-list>
            <md-item ng-repeat="issue in vm.issues
                            | filter: searchText
                            | issueState: vm.filterOption"
                 ng-class="vm.selectedIndex === issue._id ? 'active-issue' : 'issue'"
                 ng-click="vm.selectIssue(issue)"
                 animatable-id="contact"
                 id="{{issue._id}}">

              <md-item-content>

                <div class="md-tile-left"
                     ng-click="vm.selectIssue(issue)">
                  <p ng-class="{'text-success': issue.state === 'open', 'text-error': issue.state === 'closed'}">{{ issue.state }}</p>
                </div>
                <div class="md-tile-content">
                  <h3>#{{issue.number}}: {{ issue.title }}</h3>
                  <a href="{{issue.url}}" target="_blank">View Issue #{{ issue.number }} on Github</a>
                  <p>
                    {{issue.body | limitTo:80}}
                    <span ng-show="issue.body.length > 80">...</span>
                  </p>
                </div>

              </md-item-content>

            </md-item>
          </md-list>

      </md-content>
    </md-sidenav>

    <md-content class="" style="height:600px;">
      <ui-view></ui-view>
    </md-content>
  </section>

</div>
