<div class="container-fluid issue-detail">
  <div class="row" ng-if="!vm.current.editMode">
    <div class="col-md-12">
      <blockquote>
        <button class="pull-right btn btn-default"
                ng-click="vm.edit()">
          Edit
        </button>
        <h3>{{ vm.issue.title }} <span class="gray">#{{ vm.issue.number }}</span></h3>
        <span class="label label-success"><i class="fa fa-bullhorn"></i> Open</span>
        <a href="{{vm.issue.user.html_url}}">@{{ vm.issue.user.login }}</a> opened this issue <em am-time-ago="vm.issue.created_at" class="italic"></em>
      </blockquote>

      <p class="text-muted"><em>From @{{vm.issue.user.login}} on {{vm.issue.updated_at | amCalendar}}</em></p>
      <div marked="vm.issue.body"></div>


      <pre>{{ vm.issue | json }}</pre>
    </div>
  </div>
  <issue-form ng-if="vm.current.editMode"></issue-form>

</div>
