<div class="row">
  <div class="col-md-12">
    <form
      role="form"
      name="issueForm"
      ng-submit="form.submitIssue(issueForm.$valid)"
      novalidate
    >
      <!-- <pre>{{ form.CI.clone | json }}</pre> -->
      <blockquote>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label class="sr-only" for="title">Email address</label>
              <input type="text"
                     class="form-control"
                     name="title"
                     placeholder="Issue Title"
                     ng-model="form.issue.title">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="pull-right btn btn-default" ng-click="form.cancel()">
              Cancel
            </div>
            <button class="pull-right btn btn-success"
                    type="submit">Save
            </button>
          </div>
        </div>
        <div class="col-md-9">


          <h3>{{ form.issue.title }} <span class="gray">#{{ form.issue.number }}</span></h3>
          <span class="label label-success"><i class="fa fa-bullhorn"></i> Open</span>
          <a href="{{form.issue.user.html_url}}">@{{ form.issue.user.login }}</a> opened this issue <em am-time-ago="form.issue.created_at" class="italic"></em>
        </div>
      </blockquote>

      <p class="text-muted"><em>From @{{form.issue.user.login}} on {{form.issue.updated_at | amCalendar}}</em></p>
      <div class="form-group">
        <label class="sr-only" for="body">Body</label>
        <textarea rows="4"
               class="form-control"
               name="body"
               placeholder="Issue Description"
               ng-model="form.issue.body">
        </textarea>
      </div>
      <div marked="form.issue.body"></div>


      <pre>{{ form.issue | json }}</pre>
    </form>
  </div>
</div>
